{% extends "base.html" %}
{% block content %}
<style>
    .contact {
        padding: 3rem;
        width: 60%;
        margin: auto;
    }
    @media screen and (max-width: 800px) {
        .contact {
            width: 100%;
        }
    }
</style>

<header class="hero">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-12 mx-auto w-100">
                <div class="site-heading text-center">
                    <h3 class=" site-heading my-5 text-white"> Contact Me</h3>
                    </p>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container" style="min-height: 83vh; padding-top: 3rem;">
    
    <main>
        <section class="contact shadow">
            <p>
                <p>
                    stackmern Community would love to hear from you!
                </p>
                <p>
                    Email: brohitashsingh89@gmail.com 😁
                </p>
                <p>
                    Twitter: @rohitashsingh89 👻
                </p>
                <p>
                    To report a bug, please create a <a href="https://github.com/Rohitashsingh89/DjangoBlogging-template04/issues/new">bug report </a> in our open source repository.
                </p>
                <p>
                    <a href="https://www.buymeacoffee.com/rohitashsingh89" target="_blank">Support my Initiative to buy me a coffee</a>
                </p>
                <p>
                    <a href="https://rohitashsingh.vercel.app" target="_blank"><button class="btn btn-dark">Know more &rarr;</button></a>
                </p>
            </p>
        </section>
    </main>
</div>
{% endblock content %}